@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 10%;
    --foreground: 0 0% 100%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 217 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 60% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 100% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#191B1E] text-foreground font-body antialiased min-h-screen;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

.glass-card {
  @apply bg-slate-900/80 backdrop-blur-md border border-slate-800 shadow-xl;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#3388FF] to-[#33B3CC];
}
